{% extends 'mfl/base.html' %}
{% block content %}

    <div class="about-section">
      <h1 style="text-align: center">Our Team</h1>
      <!--- <p style="text-align: center">Some text about who we are and what we do.</p> --->
    </div>

    <!--- <h2 style="text-align:center">Our Team</h2> --->
    <div style="padding-top: 40px">
        <img src="../media/about_pics/BK.jpg" alt="Bhargav" style="width:300px; height:300px; float:left; margin-right: 50px">
        <p style="padding-top: 50px"><h2>Bhargav Bammidi</h2>
        Student in MIS <br>
        Former CS Student, I am currently working as Programmer. <br>
        Contact me at bbammidi@unomaha.edu</p>
    </div>


    <div style="padding-top: 120px; padding-left: 350px">
        <img src="../media/about_pics/dorcas.jpg" alt="Dorcas" style="width:300px; height:300px; float:left; margin-right: 50px">
        <p style="padding-top: 50px"><h2>Dorcas Hodonou</h2>
        <p class="title">Student in MIS</p>
        <p>Graduated my Bachelor's degree in Economics, I am now pursuing a Master's degree in MIS which I really enjoy.</p>
        <p>I love to travel and cook! Trust me if you never taste my food you missing something in your life.</p>
        <p>Contact me at dhodonou@unomaha.edu</p></p>
    </div>


    <div style="padding-top: 50px">
        <img src="../media/about_pics/Nick1.jpg" alt="Nick" style="width:300px; height:300px; float:left; margin-right: 50px">
        <p style="padding-top: 50px"><h2>Nick Wailes</h2>
        <p class="title">Student in MIS</p>
        <p>I am a Junior at UNO. In my free time I enjoy spending time with family and friends.</p>
        <p>I also enjoying traveling and spending time in nature. </p>
        <p>Contact me at nwailes@unomaha.edu</p></p>
    </div>


    <div style="padding-top: 70px; padding-left: 350px">
        <img src="../media/about_pics/Val.jpg" alt="Valeriu" style="width:300px; height:300px; float:left; margin-right: 50px">
        <p style="padding-top: 50px"><h2>Valeriu Mirzac</h2>
        <p class="title">Student in MIS</p>
        <p>I am an ambitious student at the UNO who got his Computer Science Associate degree at MCC. I am a passionate of computers.</p>
        <p>Contact me at vmirzac@unomaha.edu</p></p>
    </div>

{% endblock content %}
